.panel {
    width: 100%;
    height: 87vh;
    background-color: rgb(33, 33, 46);
}

.textcontainer { 
    position: absolute;   
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.textcontainer p {
    margin: 80px 570px;
    text-align: center;
    text-transform: uppercase;
}

.textcontainer li {
    position: relative;
    margin: 60px 120px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 550;
    list-style: none;
    display: block;
}

.textcontainer li a {
    color: white;
}

#facebook {
    margin: -5px 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("./assets/facebook.webp");
    position: relative;
    background-size: 30px;
    background-position: left;
}

#mobile {
    margin: -5px 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("./assets/mobileicon.png");
    position: relative;
    background-size: 30px;
    background-position: left;
}

#telephone {
    margin: -5px 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("./assets/telephone.png");
    position: relative;
    background-size: 30px;
    background-position: left;
}