*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

 
.banner {
    position: relative;
    margin-top: -150px;
    height: 110vh;
    background-image: 
        linear-gradient(rgba(41, 33, 84, 0.75), rgba(41, 33, 84, 0.75)), 
        url(assets/banner.jpeg);
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}


.navbar-links li p {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.navbar-links li:hover {
    background-color: #555;
}

.togglebutton {
    position: absolute;
    top: 18px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.togglebutton .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .togglebutton {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.loginform {
    display: none;
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 35px;
    z-index: 9;
}

.exit {
    text-align: right;
}

.exit button {
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: none;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginform h1 {
    margin: 10px 20px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginform p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginform input {
    color: #fff;
    width: 100px;
    margin-bottom: 20px;
}

.loginform input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 100%;
}

.loginform input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginform input[type="submit"]:hover {    
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginform a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginform a:hover {
    color: #ffc107;
}

.about {
    color: white;
    background-color: rgb(35, 35, 118);
    height: 600px;
    position: relative;
}

.title {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 60px 44%
}

.content {
    width: 100%;
    padding-top: 230px;
    margin-top: 150px;
    height: auto;
    position: relative;
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 45px;
    margin-top: 0%;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

@keyframes entry {
    from {
        margin: 21px 10px;
        border: 2px solid #5356e800;
        color: rgba(255, 255, 255, 0)
    }
    to {
        margin: 20px 10px;
        border: 2px solid #5356e8;
        color: rgb(255, 255, 255)
    }
}

.content button {
    text-transform: uppercase;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #5356e8;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    animation-name: entry;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.content span {
    background: #5356e8;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content button:hover span {
    width: 100%;
}

.content button:hover {
    background: #4894ba;
    border: 2px solid #4894ba;
}

footer {
    background: #fff;
    height: 300px;
    width: 100%;
}


.grid-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px;
    height: 430px;
    border: 1px solid rgb(153, 153, 153);
    margin: 20px;
    
}

.card-image {
    background-image: url(assets/unknown.png);
    height: 200px;
    background-size: 380px;
    border-radius: 0px 0px 10px 10px;
}

.card-text {
    color: #22236b;
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
/* 
.card-separator {
    width: 100%;
    height: 20px;
    background-color: #5356e8;
    position: relative;
} */

.card-text p1 {
    color: black;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
}

.end {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    background-color: rgb(39, 39, 39);
}

.trademark {
    height: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    background-color: rgb(32, 31, 31);    
}

.trademark p {
    margin: 40px;
    text-align: center;
    color: rgb(74, 74, 74);
}

@keyframes text {
    from {
        margin: 30px 10px;
        color: rgba(255, 255, 255, 0)
    }
    to {
        margin: 20px 10px;
        color: rgb(255, 255, 255)
    }
}

#textfade {
    animation-name: text;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}