*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    width: 100;
    height: 100vh;
    background-image: 
        linear-gradient(rgba(41, 33, 84, 0.75), rgba(41, 33, 84, 0.75)), 
        url(assets/banner.jpeg);
    background-size: cover;
    background-position: center;
}


.banner nav {
    height: 80px;
    width: 100%;
    background-color: rgba(227, 229, 246, 0.5);
    backdrop-filter: blur(4px);
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(30, 37, 110);
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #5356e8;
    position: absolute;
    left: 0;
    bottom: -15px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
    background: #5cd4ec;
}

.facebook input {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    background-image: url(assets/facebook.webp);
    background-size: 30px;
    background-position: center;
    position: relative;
}

.content {
    width: 100%;
    margin-top: 150px;
    height: auto;
    position: relative;
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 45px;
    margin-top: 0%;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

@keyframes entry {
    from {
        margin: 21px 10px;
        border: 2px solid #5356e800;
        color: rgba(255, 255, 255, 0)
    }
    to {
        margin: 20px 10px;
        border: 2px solid #5356e8;
        color: rgb(255, 255, 255)
    }
}

.content button {
    text-transform: uppercase;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #5356e8;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    animation-name: entry;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.content span {
    background: #5356e8;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content button:hover span {
    width: 100%;
}

.content button:hover {
    background: #4894ba;
    border: 2px solid #4894ba;
}

footer {
    background: #fff;
    height: 300px;
    width: 100%;
}


.grid-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px;
    height: 430px;
    border: 1px solid rgb(153, 153, 153);
    margin: 20px;
    border-radius: 15px 15px 10px 10px;
    
}

.card-image {
    background-image: url(assets/unknown.png);
    height: 160px;
    border-radius: 15px 15px 0px 0px;
}

.card-text {
    color: #22236b;
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.card-separator {
    width: 100%;
    height: 20px;
    background-color: #5356e8;
    position: relative;
}

.card-text p1 {
    color: black;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
}

.end {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    background-color: rgb(39, 39, 39);
}

.trademark {
    height: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    background-color: rgb(32, 31, 31);    
}

.trademark p {
    margin: 40px;
    text-align: center;
    color: rgb(74, 74, 74);
}

@keyframes text {
    from {
        margin: 30px 10px;
        color: rgba(255, 255, 255, 0)
    }
    to {
        margin: 20px 10px;
        color: rgb(255, 255, 255)
    }
}

#textfade {
    animation-name: text;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}