.panel {
    width: 100%;
    height: 87vh;
    background-color: rgb(33, 33, 46);
    background-image: url('assets/abstract.jpg');
    background-size: cover;
}

.textcontainer { 
    position: relative;   
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.textcontainer p {
    position: absolute;
    margin: 80px 45%;
    text-align: center;
    text-transform: uppercase;
}

.textcontainer ul {
    background-color: rgb(69, 69, 72, 0.3);
    border-radius: 10%;
    position: absolute;
    margin: 120px 5%;
    width: 50%;
}

.textcontainer li {
    position: relative;
    margin: 50px 40px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 550;
    list-style: none;
    display: block;
}

.textcontainer li a {
    color: white;
}

#facebook {
    margin: -5px 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("./assets/facebook.webp");
    position: relative;
    background-size: 30px;
    background-position: left;
}

#mobile {
    margin: -5px 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("./assets/mobileicon.png");
    position: relative;
    background-size: 30px;
    background-position: left;
}

#telephone {
    margin: -5px 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("./assets/telephone.png");
    position: relative;
    background-size: 30px;
    background-position: left;
}