.textcontainer {
    border-radius: 4%;
    margin: 30px;
    width: 720px;
    height: 55vh;
    background-color: rgba(44, 39, 107, 0.3);    
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.textcontainer li {
    position: relative;
    margin: 50px 80px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 550;
    list-style: none;
    display: block;
}

.textcontainer li a {
    color: white;
}

#facebook {
    margin: -5px 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("./assets/facebook.webp");
    position: relative;
    background-size: 30px;
    background-position: left;
}

#mobile {
    margin: -5px 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("./assets/mobileicon.png");
    position: relative;
    background-size: 30px;
    background-position: left;
}

#telephone {
    margin: -5px 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("./assets/telephone.png");
    position: relative;
    background-size: 30px;
    background-position: left;
}